{% extends 'base.html' %}
{% load static %}{% block content %}
{% if registered %}

    <div class="container">
        <div class="row">
            <div style="margin-top: 10px; margin-left: 360px;" class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Pendaftaran Berhasil!</h3>
                        <form>
                          <button type="submit" class="btn btn-primary" ><a href="login/"/>Login</a></button>
                        </form>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

{% else %}
    <div class="container">
        <div class="row">
            <div style="margin-top: 10px; margin-left: 360px;" class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Create New Account</h3>
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                         <input type="submit" name="" value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
